:root {
	--spacing-small: 0.5rem;
	--spacing-default: 1rem;
	--spacing-wide: 4rem;
	--letter-spacing: 0.03em;
	--font-size-default: 1em;
	--line-height: 1.5;
	--color-blue: #09f;
	--color-white: #fff;
	--color-black: #000;
	--color-dark: #345;
	--border-radius: 0.25em;
	--z-index-high: 1;
	--z-index-highest: 2;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

body,
button,
textarea,
input {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,sans-serif;
	line-height: var(--line-height);
}

button,
textarea,
input[type=text],
input[type=date] {
	-webkit-appearance: none;
}

textarea {
	margin: 0 auto;
	width: 100%;
	padding: 0;
	max-width: 32rem;
	border: 0;
	font-size: var(--font-size-default);
	letter-spacing: var(--letter-spacing);
	resize: none;
	outline: none;
	-webkit-overflow-scrolling: touch;
}

button {
	display: flex;
	background: var(--color-blue);
	border: 0;
	padding: var(--spacing-small) var(--spacing-default);
	font-size: var(--font-size-default);
	letter-spacing: var(--letter-spacing);
	color: var(--color-white);
	border-radius: var(--border-radius);
}

svg {
	fill: var(--color-white);
	margin-right: var(--spacing-small);
}

main {
	position: relative;
	padding: var(--spacing-default);
}

.a11y-sr-only {
  overflow: hidden;
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  clip: rect(0 0 0 0);
}

a {
	color: var(--color-blue);
}

ul.flat-list {
	list-style: none;
	padding: 0;
	margin: 0;
}
